# Default ignored files
/../../WeatherApp /.idea/shelf/
/../../WeatherApp /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../WeatherApp /.idea/httpRequests/
# Datasource local storage ignored files
/../../WeatherApp /.idea/dataSources/
/../../WeatherApp /.idea/dataSources.local.xml
